.font{
    font-family: "Inter", sans-serif;
}
 
.Background-cl{
    background: rgb(0, 0, 0);
}  

.body{
    max-width: 1200px;
    margin: auto;
}
.header{
    background: linear-gradient(to top, black,rgba(39, 38, 38, 0.76) 100%);
}

/* navbar section start here */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Brand-name{
    color:  rgb(230, 83, 60);
    font-family: Inter;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    margin: 0px;
}

.menu-containur{
    list-style: none;
    display: flex;
    box-sizing: border-box;
    padding: 13px;
    gap: 50px;
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-radius: 30px;
    

}

.Home{
    
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 9px 25px;
}

.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}
.hambergur-menu{
    display: none;
    
}
/* navbar section end here */
/* Banner section start here */
.Banner-container{
    margin: auto;
    width:80%;
    height: 400px;
    display: flex;
    margin-top: 80px;
}

.Banner-section-A{
    width: 50%;
    height: 400px;

}

.Banner-section-A>h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    text-align: left;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700px;
}

.Banner-section-A>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    text-align: left;
    margin-right: 50px;
}

.Banner-section-A-btn-container{
    margin-top: 30px;
    
}

.btn-join-club{
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    font-family: Inter;
    padding: 9px 25px;
    border: none;
    border-radius: 25px;

}

.btn-Download-app{
    color: rgb(255, 255, 255);
    background: rgb(7, 7, 7);
    font-family: Inter;
    padding: 9px 25px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    margin-left: 10px;
}

.Banner-section-B{
    width: 50%;
    height: 400px;
   
} 

.Banner-img{
    height: 400px;
    width: auto;
    margin-left: 100px;
}


.img-card-1{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(200px);
    background:rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40%;
    left: 73%;
    width: 170px;
    height: 90px;
}

.card-1-tittle-a{
    color: rgb(250, 250, 249);
    margin-left: 35px;
    margin-top: 10px;
}

.card-1-tittle-b{
    color:rgba(255, 255, 255, 0.65);
    margin-left: 35px;
    margin-top: -15px;
}

.img-card-2{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(2px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 15%;
    left: 49%;
    top: 85%;
    width: 180px;
    height: 90px;
   
}

.icon{
    background: rgb(230, 83, 60);
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.card-2-tittle-a{
    color: rgb(250, 250, 249);
}

.card-2-tittle-b{
    color: rgba(239, 237, 232, 0.65);
}


/* Banner section end here */

/* Habits section start here */

.Habits-section-containur{
    margin: auto;
    width:80%;
    height: 460px;
    margin-top: 50px;
    
}
.Habits-content{
    width: 70%;
    height: 140px;
     margin-left: 115px;
}
.Habits-content>h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    text-align: center;
}

.Habits-content>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    text-align: center;
   font-size: 14px;
   font-weight: 100;
   line-height: 24px;
   margin-top: -15px;
}

.habit-card-containur{
    display: flex;
   
}
.Habit-card-1{
    width: 25%;
    height: 315px;
   
}

.Habit-card-1>img{
    border-radius: 150px;
    padding: 15px;
   
}

.Habit-card-1>h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.Habit-card-1>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 5;
    text-align: center;
    margin-top: -10px;
}
.Habit-card-2{
    width: 25%;
    height: 315px;
}
.Habit-card-2>img{
    border-radius: 150px;
    padding: 15px;
   
}
.Habit-card-2>h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.Habit-card-2>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 5;
    text-align: center;
    margin-top: -10px;
}
.Habit-card-3{
    width: 25%;
    height: 315px;
}
.Habit-card-3>img{
    border-radius: 150px;
    padding: 15px;
   
}
.Habit-card-3>h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.Habit-card-3>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 5;
    text-align: center;
    margin-top: -10px;
}
.Habit-card-4{
    width: 25%;
    height: 315px;
}
.Habit-card-4>img{
    border-radius: 150px;
    padding: 15px;
   
}
.Habit-card-4>h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.Habit-card-4>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 5;
    text-align: center;
    margin-top: -10px;
}

/* Habit section end here */

/* RunExtra-section start here */

.RunExtra-section{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 300px;
    display: flex;
  
}

.RunExtra-text{
    width: 50%;
    height: 300px;
    margin-top: 15px;
    margin-left: 50px;
}
.RunExtra-text>h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
}
.RunExtra-text>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    width: 300px;
}
.RunExtra-text>button{
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}


.RunExtra-img{
    width: 50%;
    height: 300px;
}

.RunExtra-img>img{
    border-radius: 18px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;    
}

/* RunExtra-section end here */










/* responsive section start here */
@media screen and (max-width:576px) {
           
    .menu-containur{
        display: none;
    }

    .hambergur-menu{
        display: block;
        color: white;
        margin-top: 40px;
        margin-right: -40px;
    }
    .Brand-name{
        margin-top: 30px;
        margin-left: -60px;
    }
     
    .Banner-container{
       
        flex-direction: column;
        width: auto;
        
       
    }
    .Banner-section-A{
       width: auto;
       margin-left: 20px;

    }


    .img-card-1{
       margin-bottom: -370px;
        margin-left: -62px;
        width: 160px;
        height: 75px;
    }

    .img-card-2{
        margin-left: -170px;
        margin-top: 340px;
    }
    .Banner-img{
        margin-left: 30px;
        width: auto;
        height: auto;
    }
   .Banner-section-A>h1{
    margin-top: 30px;
      font-size: 40px;
   }
   .Banner-section-A>p{
    font-size: 15px;
    width: 250px;
   }

   .Banner-section-A-btn-container{
    padding: 9px 25px;
   }

  .Habits-section-containur{
  margin-top: 550px;
  }
 .Habits-content{ 
   width: 200px;
   margin-left: -40px;
 }
 .Habits-content>h1{
    font-size: 30px;
    width: 300px;
    margin-left: 40px;
 }
 .Habits-content>p{
    margin-top: 10px;
    font-size: 15px;
    width: 310px;
   margin-left: 35px;
    
 }




.habit-card-containur{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}
.Habit-card-1{
    margin-left: 50px;
    width: 200px;
}


.Habit-card-2{
    margin-left: 50px;
    width: 200px;
}

.Habit-card-3{
    margin-left: 50px;
    width: 200px;
}
.Habit-card-4{
   margin-left: 50px;
    width: 200px;
}

.RunExtra-section{
    margin-top: 1000px;
    flex-direction: column;
    width: 370px;
    height: 550px;
}

.RunExtra-text>button{
    width: 300px;
}










































}